<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Email Sent</title>
</head>
<body>
    <div class="" style="max-width: 500px; margin-top: 100px; margin-left: auto; margin-right: auto;">
        <div>
            <strong>Check Your Inbox</strong>

            <p>
              To complete the registration process, check your inbox for an email from trezor.io and follow the included instructions.

              <br /><br />
              If you do not receive a registration email, please try the following:

              <ul style="list-style: disc; margin-left: 24px; font-style: normal;">
                <li>Give it a few more minutes to reach your inbox.</li>
                <li>Check your spam or junk mail folder.</li>
                <li>If you already have an account registered to this email address, you can <a href="/reset">reset the account</a>.</li>
              </ul>

              <br />
              If you've tried the above and still haven't received an email from us, please contact <a href="https://trezor.io/support" target="_blank">Trezor Support</a>.
            </p>
            <a class="proceed-to" href="https://trezor.io/">Return to Trezor Home</a>
        </div>
    </div>
</body>
</html>
